.table-container {
    @include flex;
}

.users-table {
    border-collapse: collapse;

    & td,
    & th {
        padding: 0.5rem;
        border: 2px solid $dark;
    }

    &__delete-button {
        padding: 0;

        & button {
            width: 100%;
        }
    }
}
